.wall-container {
  max-width: 1280px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 1rem auto;
  margin-top: 60px;
  border: 2px solid #b7b7b7;
  scrollbar-width: none;
  border-radius: 10px;
}

.wall-container::-webkit-scrollbar {
  display: none;
}

.brick {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  box-sizing: border-box;
  color: #b7b7b7;
  background: #1e1e1f;
}

.brick > div {
  background: #1e1e1f;
  border-right: none;
  grid-column: span 2;
  min-height: 110px;
  border: 2px solid #b7b7b7;
  place-content: center;
  display: grid;
  border-radius: 5px;
}

.brick > div:nth-child(7n + 5),
.brick > div:nth-child(7n + 6),
.brick > div:nth-child(7n + 7) {
  background: #1e1e1f;
}

.brick > div:nth-child(7n + 5) {
  grid-column-end: 4;
}

.custom-toast {
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
}

.custom-toast.success {
  border-left: 5px solid hsl(189, 97%, 49%);
}

.custom-toast.error {
  border-left: 5px solid rgb(245, 59, 59);
}


/* New media query for mobile screens */
@media (max-width: 768px) {
  .wall-container {
    overflow: scroll; /* Enable both vertical and horizontal scroll */
  }

  .brick {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    overflow-x: auto; /* Enable horizontal scroll inside the brick container */
    width: 1170px; /* Keep the original size */
  }

  .brick > div {
    min-height: 155px;
  }

  .brick::-webkit-scrollbar {
    display: none; /* Hide scrollbar for aesthetics, if desired */
  }
}
